# Projeto 1 - José Antônio Bechara

### O ingresso na União Europeia contribuiu para a melhoria na qualidade de vida (IDH) e economia (PIB) dos países membros ?

In [4]:
%matplotlib inline
import pandas as pd
import numpy as np
import math as math
from scipy import stats
import matplotlib.pyplot as plt

In [5]:
#Leitura dos arquivos em Excel
IDH = pd.read_excel('Indicator_HDI.xlsx')
PIB = pd.read_excel('GDPpercapita.xlsx')

### Países membros da UE

In [6]:
UE = ["Austria", "Belgium", "Bulgaria", "Croatia", 
      "Cyprus", "Czchia", "Denmark", "Estonia", "Finland",
      "France", "Germany", "Greece", "Hungary", "Ireland",
      "Italy", "Latvia", "Lithuania", "Luxemburgo", "Malta",
      "Netherlands", "Poland", "Portugal", "Romania", "Slovakia",
      "Slovenia", "Spain", "Sweden", "United Kingdom"]

## IDH

In [7]:
IDH.head()

,HDI,1980,1990,2000,2005,2006,2007,2008,2009,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,0.198,0.246,0.230,0.340,0.354,0.363,0.370,0.387,0.398
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,0.656,0.691,0.721,0.724,0.729,0.733,0.734,0.739
4,Algeria,0.454,0.551,0.624,0.667,0.673,0.680,0.686,0.691,0.698

In [8]:
PIB.head()

,Income per person (fixed 2000 US$),1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1313.722725,1381.040832,1454.022854,1525.723589,1594.495067,1681.613910,1804.419415,1857.352947,1915.424459,1965.707230
4,Algeria,1280.384828,1085.414612,855.947986,1128.41578,1170.323896,1215.015783,1127.614288,1200.558225,1291.863983,...,1871.921986,1971.512803,2043.135713,2115.186028,2124.957754,2155.485231,2173.787903,2192.703976,2231.980246,2255.225482

### Escolhendo o ano:

In [9]:
IDH_ano = IDH.loc[:, ["HDI", 1980, 1990, 2000, 2005, 2006, 2007, 2008, 2009, 2011]]
PIB_ano = PIB.loc[:,["Income per person (fixed 2000 US$)", "1980", "1990", "2000", "2005", "2006", "2007", "2008", "2009", "2011"]]

In [10]:
IDH_ano.head()

,HDI,1980,1990,2000,2005,2006,2007,2008,2009,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,0.198,0.246,0.230,0.340,0.354,0.363,0.370,0.387,0.398
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,0.656,0.691,0.721,0.724,0.729,0.733,0.734,0.739
4,Algeria,0.454,0.551,0.624,0.667,0.673,0.680,0.686,0.691,0.698

In [14]:
PIB_ano.head()

,Income per person (fixed 2000 US$),1980,1990,2000,2005,2006,2007,2008,2009,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,1060.684602,977.765530,1200.137437,1525.723589,1594.495067,1681.613910,1804.419415,1857.352947,1965.707230
4,Algeria,1876.075639,1832.743369,1794.405233,2115.186028,2124.957754,2155.485231,2173.787903,2192.703976,2255.225482

### Mudando o índice:

In [20]:
IDH_idx = IDH_ano.set_index('HDI')
IDH_idx.head()

,1980,1990,2000,2005,2006,2007,2008,2009,2011
HDI,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,0.198,0.246,0.230,0.340,0.354,0.363,0.370,0.387,0.398
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,NaN,0.656,0.691,0.721,0.724,0.729,0.733,0.734,0.739
Algeria,0.454,0.551,0.624,0.667,0.673,0.680,0.686,0.691,0.698

In [21]:
PIB_idx = PIB_ano.set_index('Income per person (fixed 2000 US$)')
PIB_idx.head()

,1980,1990,2000,2005,2006,2007,2008,2009,2011
Income per person (fixed 2000 US$),,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,1060.684602,977.765530,1200.137437,1525.723589,1594.495067,1681.613910,1804.419415,1857.352947,1965.707230
Algeria,1876.075639,1832.743369,1794.405233,2115.186028,2124.957754,2155.485231,2173.787903,2192.703976,2255.225482

In [26]:
# PIB_idx["1980"]["Portugal"] ## ?